@model BookPublisher.Web.Models.BookViewModel

@{
    ViewData["Title"] = "Cadastro de Livro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Authors = ViewBag.Authors;
}

<h1>Cadastro de Livro</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Insert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Selecione um Autor:</label>
                <select class="form-select" asp-for="AuthorsId" asp-items="Authors">
                    <option>--- SELECIONE UM AUTOR ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

